[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.68.0,<0.69.0"
uvicorn = "<0.16.0,>=0.15.0"
alembic = "*"
psycopg2-binary = "*"
starlette = "*"
databases = "*"
"backports.entry-points-selectable" = "==1.1.1"
beautifulsoup4 = "==4.10.0"
bs4 = "==0.0.1"
certifi = "==2021.10.8"
distlib = "==0.3.3"
dump-env = "==1.3.0"
filelock = "==3.4.0"
pipenv = "==2021.11.15"
platformdirs = "==2.4.0"
pywatchman = "==1.4.1"
six = "==1.16.0"
soupsieve = "==2.2.1"
virtualenv = "==20.10.0"
virtualenv-clone = "==0.5.7"
pydantic = "<2.0.0,>=1.8.0"
SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
